h2 {
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

p {
    text-align: justify;
}

.fullCard {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid; 
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.cardContent {
    padding: 10px;
}

#text {
    text-align: justify;
}
